<ion-view title="Cadastro" id="page6">

  <ion-content padding="true" scroll="true" class="has-header">
    <form name="formCadastro" class="list" ng-submit="Cadastrar(username, senha)">
      <ion-list id="cadastro-list2">

        <label class="item item-input" id="cadastro-input3">
          <input placeholder="Nome completo" required="true" ng-model="username" type="text">
        </label>

        <label class="item item-input">
          <input placeholder="CPF" required="true" ng-model="user.cpf" type="text">
        </label>

        <label class="item item-input">
          <input placeholder="Endereço (para correspondência)" required="true" ng-model="user.endereco" type="text">
        </label>

        <label class="item item-input">
          <input placeholder="Número (para correspondência)" required="true" ng-model="user.numero" type="text">
        </label>

        <label class="item item-input">
          <input placeholder="Bairro (para correspondência)" required="true" ng-model="user.bairro" type="text">
        </label>

        <label class="item item-input item-select">
          <div class="input-label">Cidade</div>
          <select ng-model="user.cidade">
            <option value="{{array.cidade}}" ng-repeat="array in lista">{{array.cidade}}</option>
          </select>
        </label>

        <label class="item item-input">
          <input placeholder="CEP" required="true" ng-model="user.cep" type="text">
        </label>

        <label class="item item-input">
          <input placeholder="Telefone" required="true" ng-model="user.telefone" type="tel">
        </label>

        <label class="item item-input item-select">
          <div class="input-label">Tipo de cadastro</div>
          <select ng-model="tipo.status">
            <option value="0" selected>Solicitante</option>
            <option value="1">Administrador</option>
          </select>
        </label>

        <label class="item item-input" id="cadastro-input4">
          <input placeholder="E-mail" required="true" ng-model="user.email" type="email">
        </label>

        <label class="item item-input">
          <input placeholder="Senha" id="cadastro-input5" required="true" ng-model="senha1" type="password">
        </label>

        <label class="item item-input" id="cadastro-input6">
          <input placeholder="Confirmar Senha" required="true" ng-model="senha" type="password">
        </label>

      </ion-list>

      <div class="spacer" style="height: 20px;"></div>
      <button id="cadastro-button4" class="button button-balanced button-block" type="submit" ng-disabled="formCadastro.$invalid">Criar</button>
    </form>
  </ion-content>
</ion-view>