<ion-view title="Cadastro" id="page6">

  <ion-content scroll="true" class="has-header login-bg">
    <div class="login-card">

      <div class="login-brand">
        <img src="img/logo.png" alt="TreeCut">
      </div>

      <form name="formCadastro" class="list" ng-submit="Cadastrar(username, senha)">

        <div class="item item-divider cadastro-divider">Dados pessoais</div>

        <label class="item item-input login-input">
          <input type="text" placeholder="Nome completo" required="true" ng-model="username">
        </label>

        <label class="item item-input login-input">
          <input type="text" placeholder="CPF" required="true" ng-model="user.cpf">
        </label>

        <label class="item item-input login-input">
          <input type="text" placeholder="Endereço (correspondência)" required="true" ng-model="user.endereco">
        </label>

        <label class="item item-input login-input">
          <input type="text" placeholder="Número (correspondência)" required="true" ng-model="user.numero">
        </label>

        <label class="item item-input login-input">
          <input type="text" placeholder="Bairro (correspondência)" required="true" ng-model="user.bairro">
        </label>

        <label class="item item-input login-input">
          <input type="text" placeholder="CEP" required="true" ng-model="user.cep">
        </label>

        <label class="item item-input login-input">
          <input type="tel" placeholder="Telefone" required="true" ng-model="user.telefone">
        </label>

        <label class="item item-input login-input item-select">
          <div class="input-label">Cidade</div>
          <select ng-model="user.cidade">
            <option value="{{array.cidade}}" ng-repeat="array in lista">{{array.cidade}}</option>
          </select>
        </label>

        <label class="item item-input login-input item-select">
          <div class="input-label">Tipo de cadastro</div>
          <select ng-model="tipo.status">
            <option value="0" selected>Solicitante</option>
            <option value="1">Administrador</option>
          </select>
        </label>

        <div class="item item-divider cadastro-divider">Acesso</div>

        <label class="item item-input login-input">
          <input type="email" placeholder="E-mail" required="true" ng-model="user.email">
        </label>

        <label class="item item-input login-input">
          <input type="password" id="cadastro-input5" placeholder="Senha" required="true" ng-model="senha1">
        </label>

        <label class="item item-input login-input">
          <input type="password" placeholder="Confirmar senha" required="true" ng-model="senha">
        </label>

        <button id="cadastro-button4" class="button login-btn" type="submit" ng-disabled="formCadastro.$invalid">
          Criar
        </button>

        <div class="login-link">
          <a ui-sref="login">Já tem conta? Entrar</a>
        </div>

      </form>

    </div>
  </ion-content>
</ion-view>