<ion-view title="" id="page5">

  <ion-content scroll="true" class="has-header login-bg">
    <div class="login-card">

      <div class="login-brand">
        <img src="img/logo.png" alt="TreeCut">
      </div>

      <form id="login-form1" class="login-form" ng-submit="entrar()">

        <label class="item item-input login-input">
          <input type="email" placeholder="E-mail" required="true" ng-model="user.email">
        </label>

        <label class="item item-input login-input">
          <input type="password" placeholder="Senha" required="true" ng-model="user.password">
        </label>

        <button id="login-button1" class="button login-btn" type="submit">
          Entrar
        </button>

        <a class="login-forgot" ui-sref="esqueciSenha">Esqueceu a senha?</a>

      </form>

      <div class="login-divider"><span>ou</span></div>

      <button class="button login-btn-outline" ui-sref="cadastro">Criar conta</button>

    </div>
  </ion-content>
</ion-view>