<ion-view title="Solicitação" id="page4">
  <ion-content padding="true" class="has-header">
    <form id="notificacoes-form5" class="list">
      <div class="preto">Este formulário serve como procedimento para você solicitar a autorização antes de realizar a poda de suas árvores.</div>
    <div class="spacer" style="width: 300px; height: 17px;"></div>
    <div class="balanced">*Obrigatório</div>
    <div class="spacer" style="width: 300px; height: 17px;"></div>

    <div id="home-container1">    
        <div class="padding">
          <img src="img/download.png" style="display: block; width: 50%; height: auto; margin-left: auto; margin-right: auto;">
        </div>    
    </div>

    <div class="spacer" style="width: 300px; height: 17px;"></div>
    <div class="fundo">CONTRATE SOMENTE PODADORES CADASTRADOS NA PREFEITURA MUNICIPAL.</div>
    <div class="spacer" style="width: 300px; height: 17px;"></div>
    <div class="preto">Exija a carteira de identificação do seu podador. Abaixo você encontrará a relação de podadores cadastrados na Prefeitura Municipal.</div>
    <div class="spacer" style="width: 300px; height: 17px;"></div>
    <div class="fundo">O Documento de Autorização de Poda é INDISPENSÁVEL ao munícipe para a legalidade do procedimento de poda em passeio público.</div>


        <div class="list card padding-box">
          <label class="balanced titulo-negrito">Nome Completo*</label>
          <div class="marrom">Este campo deverá ser preenchido com o nome do interessado responsável pelo imóvel</div>
          <label class="item item-input">
            <input placeholder="Insira seu Nome Completo" type="text">
          </label>
        </div>

        <div class="list card padding-box">
          <label class="balanced titulo-negrito">CPF*</label>
          <div class="marrom">Número do documento do interessado responsável pelo imóvel (Digitar APENAS Números, sem pontos ou barra)</div>
          <label class="item item-input">
            <input placeholder="Insira o numero do CPF" type="text">
          </label>
        </div>

        <div class="list card padding-box">
          <label class="balanced titulo-negrito">RG</label>
          <div class="marrom">Número do documento do interessado responsável pelo imóvel (Digitar APENAS Números, sem pontos ou barra)</div>
          <label class="item item-input">
            <input placeholder="Insira o numero do RG" type="text">
          </label>
        </div>

        <div class="list card padding-box">
          <label class="balanced titulo-negrito">CNPJ</label>
          <label class="item item-input">
            <input placeholder="Insira o numero do CNPJ" type="text">
          </label>
        </div>

        <div class="list card padding-box">
          <label class="balanced titulo-negrito">Endereço (para correspondência)*</label>
          <label class="item item-input">
            <input placeholder="Insira a rua ou avenida" type="text">
          </label>
        </div>

        <div class="list card padding-box">
          <label class="balanced titulo-negrito">Nº (correspondência)*</label>
          <label class="item item-input">
            <input placeholder="Insira o numero da casa" type="text">
          </label>
        </div>

        <div class="list card padding-box">
          <label class="balanced titulo-negrito">Bairro (correspondência)*</label>
          <label class="item item-input">
            <input placeholder="Insira o bairro" type="text">
          </label>
        </div>

        <div class="list card padding-box">
          <label class="balanced titulo-negrito">Cidade*</label>
          <label class="item item-input">
            <input placeholder="Insira a cidade" type="text">
          </label>
        </div>

        <div class="list card padding-box">
          <label class="balanced titulo-negrito">CEP*</label>
          <div class="marrom">Digitar Apenas Números (Região de S.J. Rio Preto)</div>
          <label class="item item-input">
            <input placeholder="Insira seu CEP" type="text">
          </label>
        </div>

        <div class="list card padding-box">
          <label class="balanced titulo-negrito">Telefone (fixo ou celular)*</label>
          <div class="marrom">Digitar APENAS Números (SEM DD, Pontos ou Traços)</div>
          <label class="item item-input">
            <input placeholder="Insira seu Telefone" type="text">
          </label>
        </div>

        <div class="list card padding-box">
          <label class="balanced titulo-negrito">Quantidade de Árvore(s) a ser(em) Podada(s)*</label>
          <label class="item item-input">
            <select>
            <option value="" selected>1</option>
            <option value="">2</option>
            <option value="">3</option>
            <option value="">4</option>
            <option value="">5</option>
            <option value="">6</option>
            <option value="">7</option>
            <option value="">8</option>
            <option value="">9</option>
            <option value="">10</option>
            <option value="">11</option>
            <option value="">12</option>
            <option value="">13</option>
            <option value="">14</option>
            <option value="">15</option>
            <option value="">16</option>
            <option value="">17</option>
            <option value="">18</option>
            <option value="">19</option>
            <option value="">20</option>
            <option value="">21</option>
            <option value="">22</option>
            <option value="">23</option>
            <option value="">24</option>
            <option value="">25</option>
            <option value="">26</option>
            <option value="">27</option>
            <option value="">28</option>
            <option value="">29</option>
            <option value="">30</option>
          </select>
          </label>
        </div>

        <div class="list card padding-box">
          <label class="balanced titulo-negrito">Justifique o Motivo da Poda*</label>
          <label class="item item-input">
            <textarea placeholder="Insira a Justificativa" class="textareas"> </textarea>
          </label>
        </div>

        <div class="list card padding-box">
          <label class="balanced titulo-negrito">Endereço Onde a(s) Árvore(s) Localiza(m)-se*</label>
          <label class="item item-input">
            <select>
              <option value="" selected>observação: pedir banco de dados de endereço</option>        
            </select>
          </label>
        </div>

        <div class="list card padding-box">
          <label class="balanced titulo-negrito">Nº do Imóvel onde a(s) Árvore(s) Localiza(m)-se*</label>
          <label class="item item-input">
            <input placeholder="Insira o numero do Imóvel" type="text">
          </label>
        </div>

        <div class="list card padding-box">
          <label class="balanced titulo-negrito">Esquina com a Rua</label>
          <label class="item item-input">
            <input placeholder="Insira a esquina com a rua" type="text">
          </label>
        </div>

        <div class="list card padding-box">
          <label class="balanced titulo-negrito">Bairro Onde a(s) Árvore(s) Localiza(m)-se*</label>
          <label class="item item-input">
            <input placeholder="Insira o bairro" type="text">
          </label>
        </div>

        <div class="list card padding-box">
          <label class="balanced titulo-negrito">O imóvel é: *</label>      
          <ion-list>
            <ion-radio> Próprio </ion-radio>
            <ion-radio> Alugado </ion-radio>
            <ion-radio> Área Pública </ion-radio>        
          </ion-list>
          <label class="item item-input">
            <input type="text" placeholder="Outro">
          </label>
          

        </div>

        <div class="list card padding-box">
          <label class="balanced titulo-negrito">Uso do imóvel*</label>
          <ion-list>
            <ion-radio> Residencial </ion-radio>
            <ion-radio> Comercial </ion-radio>
            <ion-radio> Institucional </ion-radio>
            <ion-radio> Governo Municipal </ion-radio>
            <ion-radio> Governo Estadual </ion-radio>
            <ion-radio> Governo Federal </ion-radio>      
          </ion-list>
          <label class="item item-input">
            <input type="text" placeholder="Outro">
          </label>
        </div>
        
        <div class="list card padding-box">
          <label class="balanced titulo-negrito">Identificação do Podador</label>
          <label class="item item-input">
            <select>
              <option value="" selected>observação: pedir banco de dados de endereço</option>        
            </select>
          </label>
        </div>

        <div class="list card padding-box">
          <label class="balanced titulo-negrito">Local em que a Árvore está Plantada*</label>
          <div class="marrom">A retirada de galhos de árvores plantadas em área interna ao imóvel é de responsabilidade do munícipe.</div>
          <ion-list>
            <ion-radio> Calçada do Imóvel </ion-radio>
            <ion-radio> Área Interna do Imóvel </ion-radio>     
          </ion-list>
          <label class="item item-input">
            <input type="text" placeholder="Outro">
          </label>

        </div>

        <div class="list card padding-box">
          <label class="balanced titulo-negrito">Será Necessário que a Prefeitura Retire os Galhos?*</label>
          <ion-list>
            <ion-radio> Sim </ion-radio>
            <ion-radio> Não </ion-radio>     
          </ion-list>
        </div>

        <div class="list card padding-box">
          <label class="balanced titulo-negrito">EMAIL 1*</label>
          <div class="marrom">Neste campo deverá ser informado o email na qual será enviado o número de protocolo. A Secretaria do Meio Ambiente NÃO SE RESPONSABILIZA pelo fornecimento de INFORMAÇÕES ERRADAS e(ou) IMPRECISAS por parte do solicitante.</div>
          <label class="item item-input">
            <input placeholder="Insira o email" type="text">
          </label>
        </div>
        
        <div class="list card padding-box">
          <label class="balanced titulo-negrito">EMAIL 2</label>
          <label class="item item-input">
            <input placeholder="Insira o email" type="text">
          </label>
        </div>
        
        <div class="fundo">Declaro, sob pena da lei, que assumo total responsabilidade pela veracidade das informações aqui prestadas.</div>
        <div class="spacer" style="width: 300px; height: 17px;"></div>
        <div class="fundo">Para confirmação do envio, ao clicar em enviar deverá aparecer, na pagina seguinte, a frase: "SOLICITAÇÃO ENVIADA COM SUCESSO".</div>
      
        <div>
          <a class="button button-positive button-block icon-left ion-paper-airplane" ng-click="salvar(camera.cidade)">Enviar solicitação</a>
        </div>
    </form>





    <!--<ion-list>
      <ion-list-header class="positive padding-left">Solicitações efetuadas</ion-list-header>

      <ion-item ng-click="openModal(array)" ng-repeat="array in listaAberta" class="item item-thumbnail-left">
        <img src="{{array.img || '../img/ionic.png'}}">
        <h2>{{array.endereco}}</h2>
        <p>{{array.detalhes}}</p>


        
        <ion-option-button ng-show="show" class="button-assertive" ng-click="moverRecusada(array,$index)">
          <i class="ion-close-circled padding"></i> Recusar
        </ion-option-button>
      </ion-item>

      </br>
      <ion-list-header class="energized padding-left">Solicitações em andamento</ion-list-header>


      </br>
      <ion-list-header class="balanced padding-left">Solicitações concluídas</ion-list-header>

      </br>

      <ion-list-header class="assertive padding-left">Solicitações recusadas</ion-list-header>

      <ion-item ng-click="openModal()" ng-repeat="array in listaRecusada" class="item item-thumbnail-left">
        <img src="{{array.img || '../img/ionic.png'}}">
        <h2>{{array.endereco}}</h2>
        <p>{{array.detalhes}}</p>
        <ion-option-button ng-show="show" class="button-assertive" ng-click="excluirRecusada(array,$index)">
          <i class="ion-trash-a padding"></i> Excluir
        </ion-option-button>
       
      </ion-item>


    </ion-list>







-->

  </ion-content>
</ion-view>